body {
    background: #ffffff;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Page Title */
.title {
    margin-bottom: 15px;
    color: #111;
    font-weight: 600;
}

/* Calculator Body */
.calculator {
    background: #1c1c1c;
    width: 330px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

/* Display */
input {
    width: 100%;
    height: 65px;
    background: #000;
    color: #00ff99;
    font-size: 26px;
    text-align: right;
    border: none;
    border-radius: 12px;
    padding-right: 12px;
    margin-bottom: 15px;
}

/* Buttons Grid */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

/* Buttons */
button {
    height: 55px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: #3a3a3a;
    color: white;
}

button:hover {
    background: #4a4a4a;
}

/* Operators */
.op {
    background: #ff9500;
    color: black;
}

.op:hover {
    background: #e08900;
}

/* Function Buttons */
.func {
    background: #a6a6a6;
    color: black;
}

.func:hover {
    background: #8e8e8e;
}

/* Equal Button */
.equal {
    background: #34c759;
    color: black;
}

.equal:hover {
    background: #28a745;
}

/* Zero Button */
.zero {
    grid-column: span 2;
}
